<div class="body-container">
    <div class="left-section body-section">
        <div class="left-section-content">
            <h1 class="left-section-title">Make remote work</h1>
            <p class="left-section-description">
                <b>
                Get your team in sync, no matter your location.<br>
                Streamline processes, create team rituals, and<br>
                watch productivity soar.
                </b>
            </p>
            <button mat-raised-button class="left-section-link raised-button">
                Learn more
            </button>
        </div>
        <div class="left-section-platforms">
            <img src="assets/images/client-databiz.svg" alt="databiz" />
            <img src="assets/images/client-audiophile.svg" alt="audiophile" />
            <img src="assets/images/client-maker.svg" alt="maker" />
            <img src="assets/images/client-meet.svg" alt="meet" />

        </div>
    </div>
    <div class="right-section body-section">
        <img id="desktop-image" src="assets/images/image-hero-desktop.png" alt="image-hero" />
        <img id="mobile-image" src="assets/images/image-hero-mobile.png" alt="image-hero" />

    </div>
</div>

